<!DOCTYPE html>
<html>

<head>
   
    <title>Products</title>
    
</head>

<body>

    <h2>Zoek een examen</h2>
    <br /><br />
    <form action='/search' method='POST'>
        <span>
            <b>Name : </b>
            <input type='text' name='name'>
        </span>
        <span>
            <button type='submit'>Search</button>
        </span>
    </form>
</body>

</html>