<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>inhaalexamen</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>

  <h2>Student zoeken</h2>
  <br/><br/>
  <form action='/search' method='POST'>
    <span><b>naam : </b><input type='text' name='name'></span>
    <span><button type='submit'>Zoek</button></span>
  </form>
</body>
</html>
