<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <title>examen</title>
</head>

<body>
    <div class='well'>
        <h2>voeg een inhaalexamen toe</h2>
        <br /><br />
        <form action='/update' method='POST'>
            <table>
                <tr>
                    <td>Name : </td>
                    <td><input type='text' name='name'></td>
                </tr>
                <tr>
                    <td>examen : </td>
                    <td><input type='text' name='examen'></td>
                </tr>
                <tr>
                    <td>reden : </td>
                    <td><input type='text' name='reden' size=100></td>
                <tr></tr>
                <td><button type='submit'>update</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>