<div>
  <h1>Receptendatabase</h1>
  <form>
    <div >
      <label for='naam'>naam: </label>
      <input type='text' >
    </div>
    <br />
    <div>
      <label for='calorien'>caloriën: </label>
      <input type='text'>
    </div>
    <br />
    <div>
      <label for='ingredienten'>ingrediënten: </label>
      <input type='text'>
    </div>
    <br />
    <div>
      <label for='tijd'>benodigde tijd: </label>
      <input type='text'>
    </div>
    <br />
    <button type='submit' (ngSubmit)='onSubmit()'>Toevoegen</button>
    <br /><br />
  </form>
</div>